.contacts {
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 150px;
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
}

#map {
  width: 600px;
  height: 274px;
}


@media (max-width: 1200px) {

  .contacts__container {
    gap: 40px;
    margin-bottom: 90px;
  }
  
  #map {
    max-width: 542px;
    height: 274px;
  }
  
  .map__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .address__item {
    max-width: 235px;
  }
  
  .address__link::before {
    width: 26px;
    height: 26px;
  }
  
  .social__link  {
    width: 40px;
    height: 40px;
  }
  }

  @media (max-width: 960px) {

    .contacts__container {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 75px;
    }
    
    .address {
      margin-bottom: 27px;
      gap: 27px;
    }
    
    .social {
      justify-content: center;
    }
    
    .map {
      max-width: 100%;
      height: 337px;
    }
    }