.faq__list {
  display: flex;
  flex-direction: column;
}

.faq__item {
  position: relative;

  background-color: var(--color-white);
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  
  margin-bottom: 20px;
  line-height: 46px;

  cursor: pointer;
}

.accord-icon {
  position: absolute;
  top: 20px;
  right: 70px;

	display: block;
	width: 46px;
	height: 46px;
	background-image: url("./../assets/images/open.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	transition: background-image 0.2s ease-in-out;
}

.accord-icon--open {
	display: block;
	width: 46px;
	height: 46px;
	background-image: url("./../assets/images/close-white.svg");
}

.faq__item:nth-child(2n) {
background-color: var(--color-purple);
color: #fff;

transition: background-image 0.2s ease-in-out;
}

.faq__item:nth-child(2n+1) {
  transition: background-image 0.2s ease-in-out;
  }

.faq__item:nth-child(odd) .accord-icon {
background-image: url(../assets/images/open-purple.svg);

}

.faq__item:nth-child(odd) .accord-icon--open {
  background-image: url(../assets/images/close-purple.svg);
  
  }

.faq__item:nth-child(even) .accord-icon--open  {
background-image: url(../assets/images/close-white.svg);
}

.faq__item:nth-child(2n):hover .accord-icon {
  background-image: url(../assets/images/faq-item-white-hover.svg);
}

.faq__item:nth-child(2n):active .accord-icon {
  background-image: url(../assets/images/faq-item-white-active.svg);
}

.faq__item:nth-child(2n+1):hover .accord-icon {
  background-image: url(../assets/images/faq-item-purple-hover.svg);
}

.faq__item:nth-child(2n+1):active  .accord-icon {
  background-image: url(../assets/images/faq-item-purple-close.svg);
}

.faq__button {
  padding: 20px 70px;
}

.faq__title {
font-weight: 700;
font-size: 24px;
line-height: 1.16667;
}

.faq__text {
font-weight: 400;
font-size: 24px;
line-height: 1.16667;
padding: 57px 70px 100px 70px;

background-color: #fff;
color: #000;
}

.faq__tel {
  font-weight: 700;
}

@media (max-width: 1024px) {

  .faq__item {
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    padding: 12px 25px;
  }

  .faq__item:nth-child(2n) {
    background-color: var(--color-white);
    color: #1C1A1A;
  }

  .faq__item:nth-child(even):after {
    background-image: url(../assets/images/open-purple.svg);
}

.faq__item:last-child {
    display: none;
}
}

@media (max-width: 768px) {
  .faq__item {
   font-size: 18px;
   padding: 12px 65px;
 }
}

@media (max-width: 600px)  {

  .faq__item {
   font-size: 12px;
   height: 46px;
   padding: 15px 10px;
   line-height: 1.2;
  }
 
  .faq__item:after {
   width: 30px;
   height: 30px;
  }
} 
