.address {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 40px;
}

.address__item {
  display: flex;
}

/* .address__item:first-child {
  margin-bottom: 35px;
} */

.address__item:nth-child(2) {
  margin-bottom: 10px;
}

.address__link {
  position: relative;
  margin-left: 50px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  
  text-decoration: none;
  color: var(--color-white);

  transition: color 0.2s ease-in-out;
  }

.address__link:before {
  position: absolute;
  display: block;
  left: -50px;

  content: '';
  width: 35px;
  height: 32px;

  background-repeat: no-repeat;
  background-size: cover;
}

.address__link:hover {
  color: var(--color-purple-hover);

}

.address__link:active {
  color: var(--color-purple-active);

}

.address__link:focus {
  color: var(--color-lightpurple);

}


.address-item-street:before  {
  background-image: url(../assets/images/location.svg);
}
.address-item-phone:before  {
  background-image: url(../assets/images/phone.svg);
}

.address-item-mail:before  {
  background-image: url(../assets/images/envelope.svg);
}


@media (max-width: 600px)  {
  .address {
  margin-bottom: 10px;
  gap: 10px;
  }

  .address__link {
  font-size: 14px;
  }

  .address__link::before {
  left: -30px;
  width: 20px;
  height: 20px;
}

  .address__item:first-child {
  max-width: 160px;
}

  .social {
  gap: 20px;
}

  .social__link {
  width: 30px;
  height: 3S0px;
}

.map {
  height: auto;
}

.contacts__copyright {
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.copyright__info:first-child {
margin-bottom: 15px;
}
}



