.review {
  margin-bottom: 50px;
}

.review__list {
  max-width: 980px;
  margin: 0 auto;
}

.review__item {
  display: flex;
  }

.review__item:not(:last-child) {
  margin-bottom: 50px;
}

.review__image {
  position: relative;
  display: block;
  margin-right: 15px;
}

.review__img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
}

.review__image:before {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  width: 280px;
  height: 280px;
  border-radius: 50%;

  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.review__img--top {
  object-position: top;
  margin-bottom: 10px;
}

.review__name {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.review__text {
  display: inline-block;
  max-width: 540px;
  vertical-align: top;
  padding-top: 50px;
}

@media (max-width: 1200px) {

  .review__item:not(:last-child) {
    margin-bottom: 40px;
  }
  
  .review__image {
    margin-right: 38px;
  }
  
  .review__img--top {
    margin-bottom: 21px;
  }
  
  .review__img,
  .review__image:before {
    width: 172px;
    height: 172px;
  }
  
  .review__text  {
    padding-top: 45px;
    font-size: 18px;
  }
  
  .review__name  {
    font-size: 18px;
  }
}

@media (max-width: 960px) {

  .review__item:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .review__item .review__image {
    margin-right: 15px;
  }
  
  .review__img--top {
    margin-bottom: 17px;
  }
  
  .review__img,
  .review__image:before {
    width: 153px;
    height: 153px;
  }
  
  .review__text  {
    max-width: 390px;
    padding-top: 45px;
    font-size: 16px;
  }
  
  .review__name  {
    font-size: 14px;
  }
}

@media (max-width: 600px)  {

  .review__item {
    flex-direction: column;
    align-items: center;
  
    max-width: 280px;
    margin: 0 auto;
  }
  
  .review__item:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .review__item .review__image {
    margin-right: 0;
  }
  
  .review__img--top {
    margin-bottom: 10px;
  }
  
  .review__img,
  .review__image:before {
    width: 86px;
    height: 86px;
  }
  
  .review__text  {
    padding-top: 15px;
    font-size: 12px;
  }
}