.services {
  padding-bottom: 70px;
}

.services__title {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  padding-bottom: 70px;
}

.services__item {
  position: relative;
}

.services__item:nth-child(2) {
  transform: translateY(70px);
}

.services__item:nth-child(5) {
  transform: translateY(70px);
}

.services__link {
  display: inline-block;

  transition: color 0.2s ease-in-out;
}

.services__link:hover {
  color: var(--color-purple-hover);

}

.services__link:active {
  color: var(--color-purple-active);

}

.services__link:focus {
  color: var(--color-lightpurple);

}

.services__img {
  width: 380px;
  height: 228px;
  object-fit: cover;
}

.services__link:hover .services__img {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.services__name {
  position: absolute;
  left: 40px;
  bottom: 34px;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1200px) {

  .services {
    padding-bottom: 35px;
  }

.services__title {
  margin-bottom: 30px;
}

.services__img {
  width: 287px;
  height: 172px;
}

.services__list {
  gap: 11px;
  padding-bottom: 50px;
}

.services__item:nth-child(2) {
  transform: translateY(50px);
}
}

@media (max-width: 960px) {

  .services {
    padding-bottom: 30px;
  }
  
 .section-title {
  font-size: 24px;
 }

 .services__img {
  max-width: 330px;
  height: 200px;
}

.services__list {
  justify-content: center;
  gap: 8px;
  padding-bottom: 0;
}

.services__item:nth-child(2) {
  transform: translateY(0);
}

.services__item:nth-child(5) {
  transform: translateY(0);
}
}

@media (max-width: 600px) {

  .services__img {
    max-width: 135px;
    height: 75px;
    
  }
  
  .services__name {
    left: 10px;
    max-width: 115px;
    font-size: 10px;
  }
}