.top {
  min-height: 825px;
}

.container-top {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 823px;
}

.container-top:before {
  content: "";
  position: absolute;
  right: 60px;
  bottom: 0;

  background: url(../assets/images/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 675px;
  height: 762px;
}

  .main-title {
  margin: 0;

  font-size: 150px;
  font-weight: 900;
  letter-spacing: -10px;

  text-align: left;
  text-transform: uppercase;
  }

  .top__text {
  margin: 0;
  margin-left: 100px;
  margin-bottom: 65px;

  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  }

  .top__info {
  position: relative;
  z-index: 5;

  display: flex;
  margin-bottom: 150px;
  }

  .top__info-item {
  display: flex;
  flex-direction: column;
  }

  .top__info-item:first-of-type {
  margin-right: 43px;
  text-align: center;
  }

.top__info-item-span {
  color: var( --color-main);
  font-size: 100px;
  font-weight: 900;
  text-align: center;
}

.top__info-item-text {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.top__info-item-text:first-of-type {
  max-width: 193px;
}

.top__info-item-span:last-of-type {
  font-size: 75px;
  font-weight: 900;
  text-transform: uppercase;
  font-variant: all-small-caps;
}

.top__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 374px;
  height: 80px;
  border-radius: 10px;
  
  background-color: var(--color-lightpurple);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  font-size: 26px;
  color: var(--color-white);
  text-transform: uppercase;

  transition: background-color 0.2s ease-in-out;
}

.top__button:hover {
  background-color: var(--color-purple-hover);

}

.top__button:active {
  background-color: var(--color-purple-active);

}

.top__button:focus {
  background-color: var(--color-purple-hover);
}

.top__element {
  position: relative;
  z-index: 5;

  display: flex;
  justify-content: center;
  margin: 0 auto;

  background-image: url(../assets/images/down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 97px;
  width: 97px;

  transition: background-image 0.2s ease-in-out;
}

.top__element:hover {
  background-image: url(../assets/images/down-hover.svg);
  transition: background-image 0.2s ease-in-out;
}

.top__element:active {
  background-image: url(../assets/images/down-active.svg);
}

.top__element:focus {
  outline: 1px solid var(--color-main);
}

@media (max-width: 1200px) {

  .container-top {
    min-height: 583px;
  }

  .container-top::before {
    right: 40px;
  }

  .section {
    padding: 40px 0;
  }

  .page-section .section {
    padding-top: 0;
  }

  .main-title {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -0.1em;
  }

  .top__text {
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .top__info {
    margin-bottom: 80px;
  }
  
  .top__info-item:first-of-type {
    margin-right: 40px;
  }
  
  .top__info-item-span:last-of-type {
    font-size: 60px;
  }
  
  .top__info-item-text {
    font-size: 26px;
  }
  
  .top {
    min-height: 583px;
  }
  
  .container-top::before {
    width: 453px;
    height: 520px;
  }
  
  .top__button {
    width: 296px;
    height: 54px;
    font-size: 22px;
  }
  
  .top__element {
    height: 67px;
    width: 67px;
  }
  
}

@media (max-width: 960px) {

  .container-top {
    min-height: 537px;
  }

  .container-top::before {
    right: 10px;
  }

  .section {
    padding: 30px 0;
  }

  .main-title {
    font-size: 86px;
    line-height: 1;
    letter-spacing: -0.1em;
  }

  .top__text {
    font-size: 18px;
    margin-bottom: 50px;
  }
  
  .top__info {
    margin-bottom: 80px;
  }
  
  .top__info-item:first-of-type {
    margin-right: 40px;
  }
  
  .top__info-item-span:last-of-type {
    font-size: 40px;
  }
  
  .top__info-item-text {
    font-size: 16px;
  }
  
  .top {
    min-height: 537px;
  }
  
  .container-top::before {
    width: 409px;
    height: 479px;
  }
  
  .top__button {
    width: 214px;
    height: 46px;
    font-size: 16px;
  }
  
  .top__element {
    display: none;
  }
}


@media (max-width: 600px) {
  .container-top {
    min-height: 204px;
    max-width: 425px;
  }

  .container-top::before {
    width: 309px;
    height: 379px;
  }

  .main-title {
    font-size: 35px;
  }
    .top__text {
      font-size: 10px;
      margin-left: 25px;
      margin-bottom: 10px;
    }
    
    .top__info {
      margin-bottom: 30px;
    }
  
    .top__info-item {
      max-width: 65px;
    }
  
    .top__info-item:first-of-type {
      margin-right: 20px;
    }
    
    .top__info-item-span:last-of-type {
      font-size: 22px;
    }
    
    .top__info-item-text {
      font-size: 10px;
    }
    
    .top {
      min-height: 204px;
    }
    
    .container-top::before {
      width: 161px;
      height: 179px;
    }
    
    .top__button {
      width: 107px;
      height: 27px;
      font-size: 10px;
  }
}