.booking {
  background: var(--color-purple);
  padding: 80px 0;
}

.form__fieldset {
  border: none;
}

.form__fieldset--small {
  max-width: 1080px;
  margin: 0 auto;
}

.form__fieldset-item {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.form__fieldset-item:last-child {
  margin-bottom: 0;
}

.form__fieldset-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.form__fieldset-group .form__fieldset {
  display: flex;
  flex-direction: column;
}

.form__fieldset-group .form__legend {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 24px;
}

.form__fieldset-group [type="radio"] {
  width: 27px;
  height: 27px;
  margin-right: 12px;
}

.form__fieldset-group [type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.form__fieldset-group .form__inputlabel {
  font-size: 22px;
  font-weight: 400;
}

.form__fieldset-inputs {
  max-width: 980px;
  margin: 0 auto;
}

.form__fieldset-buttons {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 60px;
}

.booking__input-label {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 55px;
  border-radius: 8px;

  background-color: var(--color-white);
  color: #000;

  font-size: 30px;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;

  cursor: pointer;

  transition: border 0.2s ease-in-out;
}

.booking__input-label:hover {
  border: 3px solid var(--color-purple-hover);
  background-color: #eadeed;
  color: #000;
}


.booking__input-label:active {
  border: 3px solid #fff;
  background-color: var(--color-lightpurple);
  color: #000;
}

.booking__input-label:focus {
  border: 3px solid var(--color-purple-active);
  background-color: #fff;
  color: #000;
}

.form__legend-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 40px;
}

.form__input-group {
  display: grid;
  grid-template-columns: 300px 280px 300px;
  column-gap: 50px;
  margin-bottom: 40px;
}

.form__inputs-date-time {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 32px;
}


.form__inputs-wrapper-one {
  grid-column: 1 / 2;
}
.form__inputs-wrapper-two {
  grid-column: 2 / 3;
}

.form__inputs-wrapper-three {
  grid-column: 3 / 4;
}

.form__input-wrapper {
  margin-bottom: 36px;
}

.form__input-wrapper input {
  height: 52px;
  width: 100%;
}

.form__input-label-small {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}

.form__input-select {
  position: relative;
}

.form__input-select-small {
  margin-bottom: 56px;
}

.form__input::placeholder {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;

  line-height: 1.5;
  color: #211e1e;
}

.form__input-select:last-of-type {
  width: 300px;
}

.form__input-select:last-of-type input {
  width: 100%;
}

.form__input-select {
  position: relative;
  padding-top: 2px;
}

.form__input-select input {
  height: 52px;
  padding: 12px 20px;
  outline: 1px solid transparent;
}

.form__input-label--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

.form__input-label-text {
  color: #211e1e;
  font-size: 18px;

  font-weight: 400;
  line-height: 1.5;
}

.form__input-label-img {
  display: inline-block;
  width: 21px;
  height: 15px;
}

.form__input--small {
  width: 134px;
}

.form__input--tel {
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;
}

.form__input--tel:focus {
  border: 2px solid var(--color-main);
}

.form__input-arrow {
  position: relative;
}

.form__input-arrow:before {
  position: absolute;
  content: "";
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  background: url(./assets/images/input-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 15px;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;

  width: 300px;
  height: 60px;
  border-radius: 10px;

  background: #fff;
  color: var(--color-lightpurple);

  font-size: 22px;
  font-weight: 700;
  line-height: 1.27;
  text-transform: uppercase;

  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.form__button:hover {
  border: 3px solid var(--color-lightpurple);
  background-color: var(--color-light-hover);

  color: #6c0287;
}

.form__button:active {
  border: 3px solid var(--color-light-hover);
  background-color: var(--color-light-hover);
}

.form__button:focus {
  border: 3px solid var(--color-lightpurple);
  background-color: var(--color-white);
}

.form__input:focus {
  outline: 1px solid var(--color-main);
}

@media (max-width: 1200px) {

.form__fieldset-inputs {
  max-width: 904px;
}

.form__input-group {
  grid-template-columns: 300px 250px 250px;
  column-gap: 50px;
  margin-bottom: 40px;
}

.booking__input-label {
  width: 180px;
  height: 40px;
  font-size: 20px;
}

.form__input-wrapper input {
  height: 52px;
  width: 250px;
}

.form__button {
  width: 254px;
  height: 50px;
  font-size: 18px;

}
}

@media (max-width: 960px) {

  .form__fieldset-buttons {
    gap: unset;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .booking__input-label {
    width: 150px;
    height: 38px;
    font-size: 16px;
  }
  
  .form__fieldset-group {
    flex-wrap: wrap;
    margin-bottom: 18px;
  }
  
  .form__fieldset-group .form__fieldset {
    flex-basis: 300px;
    margin-bottom: 32px;
  }
  
  .form__fieldset-inputs {
    max-width: 688px;
  }
  
  
  .form__input-group {
    grid-template-columns: 320px 300px;
    grid-template-rows: 52px 162px;
    justify-content: space-between;
    row-gap: 42px;
    margin-bottom: 40px;
  }
  
  
  .form__input-wrapper input {
    height: 52px;
    width: 100%;
  }
  
  .form__button {
    width: 254px;
    height: 50px;
    font-size: 18px;
  }
  
  .form__input-select:last-of-type {
    width: unset;
  }
  
  .form__inputs-date-time {
    margin-top: 0;
    
    display: grid;
    grid-template-columns: 134px 134px;
    justify-content: space-between;
    column-gap: 52px;
  }
  
  .form__input-select-small {
    margin-bottom: 0;
  }
  
  .form__input-select {
    padding-top: 0;
  }
  
  .form__inputs-wrapper-one {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  
    display: grid;
    grid-template-columns: 280px 300px;
    justify-content: space-between;
  }
  .form__inputs-wrapper-two {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .form__inputs-wrapper-three {
    grid-column: 2 /3;
    grid-row: 2 /3;
  }
}

@media (max-width:690px) {

  .form__fieldset-buttons {
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .booking__input-label {
    width: calc(50% - 10px);
    height: 30px;
    font-size: 14px;
  }
  
  .form__fieldset-group {
    justify-content: center;
  }
  
  .form__fieldset-group .form__fieldset {
    flex-basis: 100%;
  }
  
  .form__input-group {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-auto-rows: auto;
    gap: 35px;
  }
  
  .form__inputs-wrapper-one {
    grid-column: 1;
    grid-row: 1 / 2;
  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 52px;
    gap: 15px;
    align-items: self-end;
  }
  
  .form__input--small {
    width: 100%;
  }
  
  .form__inputs-date-time {
    grid-column: 1 / -1;
    grid-row: 1;
  
    grid-template-columns: repeat(2, 1fr);
  }
  
  .form__input-select {
    grid-column: 1/ 2 span;
    grid-row: 2/ 3;
  }
  
  .form__inputs-wrapper-two {
    grid-column: 1;
    grid-row: 2 / 3;
  }
  
  .form__inputs-wrapper-three {
    grid-column: 1;
    grid-row: 3 / 4;
  }
  
  .form__input-select-one {
    grid-column: 1/ 2;
  }
  
  .form__input-select-two {
    grid-column: 2/ 3;
  }
  
  .form__button {
    width: 100%;
  }
  }

  @media (max-width: 375px) {

    .form__legend-title  {
      font-size: 14px;
      margin-bottom: 15px;
    }
    
    .form__fieldset-buttons {
      margin-bottom: 30px;
    }
    
    .form__fieldset-group .form__legend {
      font-size: 14px;
      margin-bottom: 15px;
    }
    
    .form__fieldset-group [type="radio"] {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
    
    .form__input::placeholder {
      font-size: 14px;
    }
  }
