.contacts {
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
}