.header {
  padding-top: 30px;
  padding-bottom: 50px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
}

.header__menu {
  display: none;
}

.header__logo {
  width: 120px;
  height: 66px;
}

.header__list {
  display: flex;
  align-content: center;
  gap: 40px;
}

.header__list-item {
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__list-link {
  font-size: 22px;
  line-height: 2.27;
  text-transform: uppercase;

  transition: color 0.2s ease-in-out;
}

.header__list-link:hover {
  color: var(--color-purple-hover);

}

.header__list-link:active {
  color: var(--color-purple-active);

}

.header__list-link:focus {
  color: var(--color-lightpurple);

}

.header__button {
  width: 280px;
  height: 55px;

  border-radius: 10px;
  border: 3px solid var(--color-main);
  background-color: transparent;
  
  color: #FFFFFF;
  font-size: 22px;
  text-transform: uppercase;

  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.header__button:hover {
  background-color: var(--color-lightpurple);
  border: 3px solid var(--color-lightpurple);

}

.header__button:active {
  background-color: var(--color-purple-hover);
  border: 1px solid #000;

}

.header__button:focus {
  background-color: var(--color-purple-hover);
  border: 3px solid var(--color-purple-hover);
}


@media (max-width: 1200px) {
  
  .header {
    padding-bottom: 30px;
  }

  .header__nav {
    gap: 79px;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }

  .header__list-link {
    font-size: 18px;
    line-height: 1.22222;
  }

  .header__list {
    gap: 20px;
}

.header__button {
  width: 229px;
  height: 45px;
  font-size: 18px;
  line-height: 1.33333;
}
}

@media (max-width: 960px) {

  .header__list {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

@media (max-width: 600px) {

  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__logo {
    order: 2;
  }

  .header__menu {
    width: 39px;
    height: 20px;
    order: 1;
  }

  .header__button {
    display: none;
  }
}