
/* Main Styles */

.container {
  max-width: 1300px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
}
.section-title {
margin-bottom: 60px;

font-family: Arial;
font-size: 40px;
font-weight: 700;
line-height: 1.2;

text-align: center;
text-transform: uppercase;
}

@media (max-width: 1200px) {
  .container {
    max-width: 984px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .section-title {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 688px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section {
    padding: 10px 0;
  }

  .section-title {
    margin-bottom: 15px;
    font-size: 14px;
  }
}