.services {
  padding-bottom: 70px;
}

.services__title {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  padding-bottom: 70px;
}

.services__item {
  position: relative;
}

.services__item:nth-child(2) {
  transform: translateY(70px);
}

.services__item:nth-child(5) {
  transform: translateY(70px);
}

.services__link {
  display: inline-block;

  transition: color 0.2s ease-in-out;
}

.services__link:hover {
  color: var(--color-purple-hover);

}

.services__link:active {
  color: var(--color-purple-active);

}

.services__link:focus {
  color: var(--color-lightpurple);

}

.services__img {
  width: 380px;
  height: 228px;
  object-fit: cover;
}

.services__link:hover .services__img {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.services__name {
  position: absolute;
  left: 40px;
  bottom: 34px;
  font-size: 20px;
  font-weight: 700;
}