.social {
  list-style: none;
}

.social__item {
  display: inline-block;
  margin-right: 26px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  color: var(--color-white);
  text-decoration: none;
}