.social {
  list-style: none;
}

.social__item {
  display: inline-block;
  margin-right: 26px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  color: var(--color-white);
  text-decoration: none;
}

.social__link:hover {
  color: var(--color-light-hover);
}

.social__link:active {
  color: var(--color-main);
}

.social__link:focus {
  color: var(--color-light-hover);
  outline: 1px solid var(--color-main);
}